In [1]:
import pandas as pd

movieId_to_name = pd.read_csv(r'C:\courses\CSE343SE\archive\movies_out.csv')

In [9]:
movieId_to_name.head(10)

,title,overview,popularity,release_date,revenue,runtime,tagline
id,,,,,,,
862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21,1995-10-30,373554033.0,81.0,NaN
8844,Jumanji,When siblings Judy and Peter discover an encha...,17,1995-12-15,262797249.0,104.0,Roll the dice and unleash the excitement!
15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,11,1995-12-22,0.0,101.0,Still Yelling. Still Fighting. Still Ready for...
31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3,1995-12-22,81452156.0,127.0,Friends are the people who let you be yourself...
11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,8,1995-02-10,76578911.0,106.0,Just When His World Is Back To Normal... He's ...
949,Heat,"Obsessive master thief, Neil McCauley leads a ...",17,1995-12-15,187436818.0,170.0,A Los Angeles Crime Saga
11860,Sabrina,An ugly duckling having undergone a remarkable...,6,1995-12-15,0.0,127.0,You are cordially invited to the most surprisi...
45325,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2,1995-12-22,0.0,97.0,The Original Bad Boys.
9091,Sudden Death,International action superstar Jean Claude Van...,5,1995-12-22,64350171.0,106.0,Terror goes into overtime.
710,GoldenEye,James Bond must unmask the mysterious head of ...,14,1995-11-16,352194034.0,130.0,No limits. No fears. No substitutes.

In [4]:
movieId_to_name.set_index('id', inplace=True)

In [8]:
# i want to see films with index [2059, 2897, 2307, 2775, 1059, 2746, 2898, 243, 1896, 1890] 

movies = movieId_to_name[movieId_to_name.index.isin([2059, 2897, 2307, 2775, 1059, 2746, 2898, 243, 1896, 1890])]

movies

Empty DataFrame
Columns: [title, overview, popularity, release_date, revenue, runtime, tagline]
Index: []